@charset "utf-8";
@import "./reset.css";
*{box-sizing:border-box;}

/*a링크 스타일*/
a{text-decoration:none;}
a:link{color:#000;}
a:visited,a:hover,a:active{color:#333;}

/*전체 레이아웃 CSS*/
#container{
	width:100%;
	max-width:1430px;
	/*최대 가로사이즈는 1430 커지지 않고 기본 100%로 사용 가능*/
	margin:0 auto;
}
section>h2{
	width:0; height:0;
	overflow:hidden;
	text-indent:-99999px;
	visibility:hidden;
	display:none; 
}


/*공통사용 모듈 CSS*/

.black_btn{
	width:200px; 
	height:35px;
	line-height:35px;
	background:#000;
	font-size:11pt;
	color:#fff;
	text-align:center;
	display:inline-block;
	cursor:pointer;
}
.white_btn{
	width:200px; 
	height:35px;
	line-height:35px;
	background:#fff;
	font-size:11pt;
	color:#000;
	text-align:center;
	display:inline-block;
	cursor:pointer;
	font-family:serif;
	border:1px solid #000;
}

/*헤더영역*/
header{
	height:auto; /*반응형 처럼 보이게 하기 위해서 세로 사이즈는 가변으로 둡니다.*/
	padding:10px;
	display:flex;
	flex-flow:row wrap;
	justify-content:space-around;
	align-items:center;
}

.gnb,.util_sec{
	display:flex;
	flex-flow:row wrap;
	justify-content:center;
}
.gnb a{
	display:block;
	font-weight:bold;
	line-height:70px;
	padding:0 30px;
}
.util_sec>li>a{padding:0 10px;}
.util_sec img{vertical-align:middle;}

/*비주얼 영역 */
#visual_banner{
	width:100%;
	height:auto;
}
#visual_banner img{
	width:100%;
}

/*flex 레이아웃 지정 CSS*/
#collection_sec, 
#banner_sec, 
.small_bnr{
	display:flex;
	flex-flow:row wrap;
	justify-content:space-around;
	width:100%;
}
#collection_sec{margin-top:80px;}

.img_box1, .img_box2{
	width:760px; height:438px;
	margin-bottom:80px;
	background:url() no-repeat center/cover;
	border:1px solid #ccc;
}
.img_box1{background-image:url('../images/img01.jpg');}
.img_box2{background-image:url('../images/img02.jpg');}

.text_box>p:nth-child(1){
	font-size:2rem;
}
.text_box>p:nth-child(2){
	font-size:1.2rem;
	color:#ddd;
	margin:15px 0px;
}
.text_box>p:nth-child(3){
	color:#ccc;
	margin-bottom:15px;
	line-height:2;
}
.text_box{
	width:400px;
	padding-top:60px;
	margin-bottom:80px;
}

/*배너 영역 CSS*/
#banner_sec{margin-bottom:80px;}
.small_bnr{justify-content:center;}

.small_bnr figure{
	margin: 0 30px;
}
.small_bnr figure figcaption{
	font-weight:bold;
	margin:10px 0px;
}

.large_bnr{
	width:100%;
	height:320px;
	background:url('../images/img05.jpg') no-repeat center center/cover;
	margin-top:80px;
}
/*백스테이지 영역 CSS*/

#scenes_sec{margin:190px 0px 95px;}
#scenes_sec img{width:50%;}
.g_title{
	width:100%;
	height:80px;
	line-height:80px;
	background:#000;
	color:#fff;
	text-align:center;
	font-size:1.2rem;
}


/*푸터 영역 CSS*/
footer{
	height:auto;
	background:#d3d3d3;
	padding:40px 50px; 
	display:flex;
	flex-flow:row wrap;
	justify-content:space-between;
}

.f_info{ margin:0px 20px;}
.info_title{
	font-weight:bold;
	padding:10px 0px;
	color:#000;
}
.f_info>li>a{
	display:block;
	padding:5px 5px 5px 15px; 
	line-height:30px;
}

.f_info:last-child{
	width:480px;
}
.f_info:last-child>li:nth-child(1){
	color:#000;
	margin:30px 0px;
	font-size:2rem;
}
.f_info:last-child>li:nth-child(2){
	color:#666;
	line-height:2;
	margin:20px 0px;
}
#copy_sec{
	background:#000;
	color:#fff;
	height:55px;
	line-height:55px;
	text-align:center;
}